{% layout 'layout.liquid' %}

{% block content %}
    <div>
        <form action="/fruits/{{fruit._id}}?_method=PUT" method="POST">
            <label for="name">New Fruit Name</label>
            <input type="text" id="name" name="name" value="{{fruit.name}}" placeholder="Enter name">
            <label for="color">New Fruit Color</label>
            <input type="text" id="color" name="color" value="{{fruit.color}}" placeholder="Enter color">
            <label for="readyToEat">Ready to Eat?</label>
            <input type="checkbox" id="readyToEat" name="readyToEat" {% if fruit.readyToEat %} checked {% endif %}>
            <input type="submit" value="Edit {{fruit.name}}">
        </form>
    </div>
{% endblock %}